.ambilight-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.ambilight-button {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  font-weight: 500;
  color: #28282b;
  background: #8DEB6E;
  /* box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2); */
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.ambilight-button:hover {
  transform: scale(1.02);
}

.ambilight-button:active {
  transform: scale(0.98);
}

.ambilight-track {
  position: absolute;
  pointer-events: none;
}

.ambilight-track-inner {
  inset: -8px;
  width: 262px;
  height: 72px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #a9cdb2;
  border-radius: 50px;

}

.ambilight-track-outer {
  inset: -16px;
  width: 278px;
  height: 88px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
   border: 2px solid #a9cdb2;
  border-radius: 50px;
}

.ambilight-svg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.ambilight-lighting {
  position: absolute;
  inset: 0;
}

.ambilight-point {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  offset-rotate: 0deg;
  animation: ambilight-race 2s linear infinite;
}

.ambilight-point-cyan {
  background: radial-gradient(circle, #182F38 0%, #182F38 40%, transparent 70%);
  /* box-shadow: 0 0 10px #00ffff, 0 0 20px rgba(0, 255, 255, 0.5); */
}

.ambilight-point-magenta {
  background: radial-gradient(circle, #0E161B 0%,#0E161B 40%, transparent 70%);
  /* box-shadow: 0 0 10px #ff00ff, 0 0 20px rgba(255, 0, 255, 0.5); */
  animation-duration: 3s;
}

@keyframes ambilight-race {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
